<div>
    <h2 class="mt-2 mb-3">Build History</h2>
</div>

<div>
    <div>
        <mat-form-field style="width: 100%">
            <mat-label>Build Name</mat-label>
            <input matInput type="text" [(ngModel)]="name" (keyup)="$event.key == 'Enter' && fetchList()"/>
        </mat-form-field>
    </div>

    <div class="d-flex justify-content-end">
        <button class="m-2" mat-button (click)="fetchList()">Fetch</button>
    </div>
    <table mat-table [dataSource]="data" style="width: 100%;">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let u"> {{u.id}} </td>
        </ng-container>

        <ng-container matColumnDef="buildNo">
            <th mat-header-cell *matHeaderCellDef> Build No </th>
            <td mat-cell *matCellDef="let u"> {{u.buildNo}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let u"> {{u.name}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let u">
                <span *ngIf="u.status == 'SUCCESSFUL'"
                    style="border-radius:10px; padding:5px; background-color:rgba(172, 255, 47, 0.761);"> {{u.status}}
                </span>
                <span *ngIf="u.status != 'SUCCESSFUL'"
                    style="border-radius:10px; padding:5px; background-color:rgba(255, 0, 0, 0.58);"> {{u.status}}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="ctime">
            <th mat-header-cell *matHeaderCellDef> Create Time </th>
            <td mat-cell *matCellDef="let u"> {{u.ctime | date: 'yyyy-MM-dd HH:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="op">
            <th mat-header-cell *matHeaderCellDef> Operation </th>
            <td mat-cell *matCellDef="let u"> <button mat-button (click)="popHistDetails(u)">Details</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['id', 'buildNo', 'name', 'status', 'ctime', 'op']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['id', 'buildNo', 'name', 'status', 'ctime', 'op'];"></tr>
    </table>

    <app-controlled-paginator (controllerReady)="onPagingControllerReady($event)"></app-controlled-paginator>

</div>